<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Breathing Exercise</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    </head>
    <body>
        <nav class = 'navtop'>
            <div>
                <h1>Stress Management App</h1>
                <a href="{{ url_for('home') }}"><i class = 'fas fa-home'></i>Home</a>
                <a href="{{ url_for('test') }}">Take a test</a>
                <a href="{{ url_for('journal') }}">Journal</a>
                <a href="{{ url_for('breathing') }}">Breathing</a>
                <a href="{{ url_for('meditate') }}">Meditate</a>
                <a href="{{ url_for('profile') }}"><i class = 'fas fa-user-circle'></i>Profile</a>
                <a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
            </div>
        </nav>

        <div class = "content">
            {% for video_url in video_urls %}
                <iframe width="560" height="315" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe>
                <br>
            {% endfor %}
        </div>

    </body>
</html>